{% set networkData = _Network.getNetworkData() %}
{% set blogData = _Blog.getBlog() %}
{{ this.beginPage() }}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>{{this.title | raw}}</title>
        {{ Html.csrfMetaTags | raw }}

        <!-- Favicon Icon -->
        {% set favicon = ''%}
        {% if networkData.favMedia | length > 0 %}
            {% set favicon = _Media.getMediaUrl(networkData.favMedia, 80, 80)%}
        {% endif %}

        {% if favicon != '' %}
            <link rel="shortcut icon" href="{{favicon}}" type="image/x-icon" />
            <link rel="icon" href="{{favicon}}" sizes="any" type="image/svg+xml" />
        {% endif %}
        
        {% set isPage = 'content_box_page' in _Page.getBodyClass() and 'page-contact-us' not in _Page.getBodyClass() %}
		
        {% set bodyClass = _Page.getBodyClass() | replace({('article') : 'article__page'}) %}
		
        <link rel="home" href="{{_AppHelper.getBaseUrl()}}" />
        <link rel="alternate" type="application/rss+xml" title="{{_Network.getNetworkTitle()}} -  RSS Feeds" href="{{_AppHelper.getBaseUrl()}}/feed/rss"/>
        
        {% if _AppHelper.getApplicationEnv() == 'PROD'%}
            <link rel="stylesheet" href="{{networkData.templatePath}}/static/deploy/output.min.css?rel=1551437310084" type="text/css" media="all">
            <link rel="stylesheet" href="{{networkData.templatePath}}/static/deploy/print.min.css" type="text/css" media="print">
        {% else %}
            <link type="text/css" rel="stylesheet" href="{{networkData.templatePath}}/static/js/plugins/jquery.fancybox/source/jquery.fancybox.css" />
            <link type="text/css" rel="stylesheet" href="{{networkData.templatePath}}/static/js/plugins/jquery.noty-2.3.8/demo/animate.css" />
            <link type="text/css" rel="stylesheet" href="{{_AppHelper.getAssetsSDKPath()}}/js/media-player/mediaelementplayer.css" />
            <link rel="stylesheet" href="{{networkData.templatePath}}/static/css/index.css" type="text/css" media="all">
        {% endif %}
        
        {% if isPage %}
            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
            <link href="{{_AppHelper.getAssetsStaticPath()}}/dist/vendors/ContentBox/assets/minimalist-basic/content-bootstrap.css" rel="stylesheet" type="text/css" />

            <link href="{{_AppHelper.getAssetsStaticPath()}}/dist/vendors/ContentBox/box/box.css" rel="stylesheet" type="text/css" />
            <link href="{{_AppHelper.getAssetsStaticPath()}}/dist/vendors/ContentBox/contentbuilder/contentbuilder.css" rel="stylesheet" type="text/css" />
            <link href="{{_AppHelper.getAssetsStaticPath()}}/dist/vendors/ContentBox/contentbox/contentbox.css" rel="stylesheet" type="text/css" />
            <link rel="stylesheet" href="{{networkData.templatePath}}/static/css/contentbox-breakup.css?rel=1551437310084" type="text/css" media="all" />
        {% endif %}
        <link href="https://fonts.googleapis.com/css?family=Karla:400,700|Yantramanav:300,400,500,700,900" rel="stylesheet">
        <style>
            body, .body, p, a.header__navigation-link {
                font-family: "Yantramanav", sans-serif;
            }
            h1, h2, h3, h4, h5 {
                font-family: "Yantramanav", serif !important;
            }
            .article p, .article li, figcaption {
                font-family: 'Karla', sans-serif;
            }
            @font-face {
                font-family: 'Futura-Bold';
                src: url('/static/fonts/Futura-Bold.ttf');
            }
            @media print {
                header, footer, .article__header, .article__image_container, .article__info_container, .header, .article__social-links {
                    display: none !important;
                }
            }
        </style>
        
        {{_AppHelper.getHead() | raw}}
        
        {{ this.head() }}
    </head>

    <body class="body {{bodyClass}}">
        {{ this.beginBody() }}

        {{_AppHelper.getBody() | raw}}

        <div id="container">

            {{ this.render('partials/_header.twig', {network: networkData, blogData: blogData}) | raw }}
            {% if this.params['search'] is defined and this.params['search'] == true %}
                <div class="header-theme-color"></div>
            {% endif %}
            <main id="content" role="main">
                {{ content | raw}}
            </main>
            <div class="modal" role="dialog">
                <div class="modal-dialog modal-extlg" role="document">
                    <div class="modal-content social-modal">
                    </div>
                </div>
            </div>
            {{ this.render('partials/_footer.twig', {network : networkData, blogData: blogData}) | raw }}
        </div>
        <div id="popup-overlay"></div>
        {{this.render('partials/account-modal.twig',{network : networkData}) | raw }}
        {{ this.render('partials/_javascript.twig', {networkData : networkData}) | raw }}
        <div class="SwappingHelper" style="display:none">
            <div style="width: 270px; height: 105px; padding: 3px; background-color: #FFF; max-width: 270px; max-height: 105px; overflow: hidden; z-index: 999 !important;">
                <img class="article-image" src="{{networkData.placeHolder100x100}}" style="width:97px; height: 97px; float: left;" />
                <p class="article-text" style="width: 165px; float: left; padding-left: 3px;color: #394659;font-size: 14px; font-family: Droid Serif,serif; line-height: 20px; margin-top:0px;">Dummy text  </p>
            </div>
        </div>
        <script src='https://www.google.com/recaptcha/api.js' async></script>
        
        {{_AppHelper.getFooter() | raw}}
        
        {{ this.endBody() }}
    </body>
</html>
{{ this.endPage() }}